# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

<strong>Objectives:</strong>
    <ul>
    <li>Some of the popular languages that Data Scientists use</li>
    <li>Some of the commonly used libraries used by Data Scientists</li>
    <li>Some of the tools commonly used by data Science</li>
    <li>How to use Markdown in Python</li>
    <li>How to use Github</li>
    </ul>

Some of the popular languages that Data Scientists use are:
<ol>
  <li>Python</li>
  <li> R</li>
  <li>C++</li>
  
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
  <li>Scikit-learn</li>
  <li> Pandas</li>
  <li>Matplotlib</li>
  
</ol>

| Data Science Tools |
| --- | 
| RStudio | 
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
print ((3*4)+5)
# This a simple arithmetic expression to mutiply then add integers

17

In [4]:
print (200/60)
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Carolina Rhoden Freitas